body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.app {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}

.menu {
  padding: 10px 5px;
}

.menu__filter {
  text-align: right;
  padding-right: 5px;
}

.menu__filter-input {
  outline: none;
  background-color: #fff;
  padding: 10px 15px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.menu__item-wr {
  width: 33.333333%;
}

.menu__item {
  padding: 5px;
}

.menu__item p {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.menu__item-name {
  font-size: 14px;
}

.menu__item-price {
  color: #192982;
}

.menu__item-img {
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  min-height: 60px;
  color: #fff;
}

/* .logo {} */

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: 100%;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.user-menu {
  flex-shrink: 0;
}

.user-menu__img,
.user-menu__name {
  margin-right: 10px;
}

.tab {
  display: flex;
  width: 100%;
}

.tab span {
  display: inline-block;
  width: 50%;
  padding: 20px 0;
  border-bottom: 1px solid #000;
  text-align: center;
  box-sizing: border-box;
}

.tab span:first-child {
  border-right: 1px solid #000;
}

.tab .is-active {
  font-size: 16px;
  font-weight: 600;
}

.popup-enter,
.popup-regist {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  background-color: #fff;
  max-width: 400px;
  margin: 10px auto;
  font-size: 14px;
}

.popup-enter form,
.popup-regist form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.popup-regist label,
.popup-enter label {
  margin-bottom: 15px;
}

.popup-enter input,
.popup-regist input {
  border: none;
  border-bottom: 1px solid #192982;
  outline: none;
  background-color: transparent;
  min-width: 200px;
  padding: 10px 0;
}

.popup-enter button,
.popup-regist button {
  outline: none;
  border: 0;
  background-color: #000;
  color: #fff;
  padding: 11px 22px;
  border-radius: 0;
  cursor: pointer;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table tr {
  height: 60px;
  border-bottom: 1px solid #000;
}

.table tr:last-child {
  border-bottom: none;
}

.table th {
  text-align: left;
  background-color: #ececec;
}

.table th,
.table td {
  padding: 0 10px;
}

.comments-title {
  text-align: center;
  font-size: 24px;
}

.comments-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  counter-reset: my-awesome-counter;
}

.comments-item {
  counter-increment: my-awesome-counter;
  display: flex;
  justify-content: space-between;
  flex-basis: 40%;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.comments-star {
  color: #d0c10c;
  font-size: 12px;
  font-weight: 600;
}

.comments-item::before {
  content: '0' counter(my-awesome-counter);
  position: absolute;
  top: 0;
  left: -5px;
  font-size: 44px;
  transform: translateX(-100%);
  line-height: 30px;
}

.comments-textarea {
  width: 100%;
  max-width: 400px;
  height: 100px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}

.comments-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.comments-btn {
  padding: 10px 22px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.rate {
  margin: 10px;
}
